/* Main Styles for Religion Community */

* {
  box-sizing: border-box;
}

html {
  overflow-y: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}
